@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:wght@400;600&display=swap');

:root {
    /* CORES DO SITE */
    --cor-fundo: #000000;
    --cor-primaria-botoes-links: #007BFF;
    --cor-secundaria-hover-bordas: #00CFFF;
    --cor-texto-principal: #F8F9FA;
    --cor-texto-secundaria: #A0A0A0;
    --cor-alerta: #E63946;
    --cor-sucesso: #2ECC71;

    /* FONTES DO SITE */
    --font-primaria-titulos: 'Audiowide',sans-serif;
    --font-secundaria-textos: 'Montserrat', sans-serif;
}

body {
    background-color: var(--cor-fundo);
}
   
